* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
    line-height: 1.6;
}







header {
    background: #000000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 48px;
}
header a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.navBarTop {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLine {
    border-bottom: 1px solid purple;
    margin-left: 50px;
    margin-right: 50px;
}

.navBarBottom {
    height: 5vh;
    padding: 10px;
    display: flex;
}

.navBarItem {
    flex-grow: 1;
    flex-shrink: 1;
    width: 33.3vw;
    text-align: center;
}

  
.parallax-refinery {
    background-image: url('assets/violet_swirl.jpg'); 
    min-height: 85vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-refinery::before { /*The ::before pseudo-element is used to create a layer on top of the background image.*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.5) 100%);
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 30px;
}

.hero {
    position: absolute;
    z-index: 10;
    top: calc(50% + 100px); /* Position below the overlay text */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust width as needed */
    color: #ffffff;
}
.hero h2 {
    color: #ffffff;
    font-size: 36px;
}
.hero p {
    color: #ffffff;
    font-size: 24px;
}

.column {
    flex: 1;
    text-align: center;
}

.divider {
    width: 3px;
    height: 100px; /* Adjust height as needed */
    background-color: #ffffff;
}







.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; /* Adjust the gap between divs as needed */
    padding: 100px 100px 100px; /* Adjust horizontal padding as needed */
}

.text {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.text h2 {
    font-size: 24px;
}

.textP {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.textP p {
    font-size: 36px;
    color: rgb(125, 125, 125);
}

.underline {
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 4px;
}

.imgRow {
    display: flex;
    justify-content: space-evenly;
}

.imgRow img {
    border-radius: 10px;
    width: 25vw;
    height: auto;
    max-width: 500px;
}
.buffer {
    height: 150px;
    background-color: #ffffff;
}


.parallax-expressway {
    background-image: url('assets/tokyoExpressway.jpg'); 
    min-height: 50vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-expressway::before { /*The ::before pseudo-element is used to create a layer on top of the background image.*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    overflow: hidden;
}




.companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.companies h2 {
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.companies img {
    width: 50vw;
    height: auto;
    max-width: 1200px;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: #ffffff;
    color: #000000;

}

.testim {
    display: flex;
    justify-content: space-between;
    margin: 30px; /* Adjust as needed */
    max-width: 1000px;
}

.testim p {
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 24px;
}

.testim-content {
    display: flex;
    flex-direction: column;
}


#Maria {
    min-width: 150px;
    text-align: center;
    order: 1;
}
#Maria img {
    width: 150px;
    height: 150px;
}
#Harry {
    min-width: 150px;
    text-align: center;
}
#Harry img {
    width: 150px;
    height: 150px;
}
#Belle {
    min-width: 150px;
    text-align: center;
    order: 1;
}
#Belle img {
    width: 150px;
    height: 150px;
}


.fuelform {
    width: 100%;
    padding: 50px;
    height: 600px;
    display: flex;
    align-items: center; /* Vertically center the child elements */
    justify-content: center; /* Horizontally center the child elements */
}

.purble {
    width: 1000px;
    height: 500px; /* Set the height as needed */
    background-image: linear-gradient(to right,rgba(0,0,0,0) 25%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .65) 75%), url('assets/purple.jpg');
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
}
.fuelButton {
    max-width: 40%;
    margin: 50px;
    color: #ffffff;
}
.fuelButton h2 {
    font-size: 48px;
}
.fuelButton p {
    margin-top: 25px;
    margin-bottom: 25px;
}
.purple-button {
    background-color: purple;
    color: white;
    width: 125px;
    height: 75px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 18px;
}

.purple-button:hover {
    background-color: darkpurple;
}





.footer {
    background: purple;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.contact {
    margin: 100px;
}

.copyright {
    background-color: purple;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}