/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    max-width: 100vw;
	  height: 7vh;
    margin: 0 auto;
    padding: 10px 20px;
	  background-color: #000000;
    color: #FFFFFF;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.container{
	margin: 10vh 2vw;
}
.alignleftText {
	float: left;
	
}
.alignrightText {
	float: right;
}


a:link, a:visited {
  text-decoration: none;
}


table {
  border-collapse: collapse;
  margin: 5vh auto;
  width: 95vw;
}

td, th {
  border: 1px solid purple;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(250, 232, 250);
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: purple;
}

.dropdown {
  float: left;
  position: relative;
  /*overflow: hidden;*/
  padding:5px;
}

.dropdown-content {
  display: none;
  margin: 5px 20px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* filter dropdowns */

.filterdropbtn {
  background-color: rgb(245, 245, 245);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.filterdropbtn:hover, .filterdropbtn:focus {
  background-color: rgb(192, 192, 192);
}

.filterdropbtnSelected {
  background-color: rgb(248, 200, 248);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.filterdropbtnSelected:hover, .filterdropbtnSelected:focus {
  background-color: rgb(255, 175, 255);
}

.filterdropdown-content {
  display: none;
  left: 0;
  position: absolute;
  background-color: #f1f1f1;
  width: fit-content;
  overflow: auto;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.filterdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.filterdropdown a:hover {background-color: #ddd;}
.filterdropdown-content.show {display: block;}


.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  background: purple;
  color: #fff;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  /*padding: 5px;*/
}

.contact {
  margin: 50px;
}

.copyright {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: purple;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  padding-bottom: 2px;
}
